/* GENERAL  */
.p-btn-dark, .p-btn-light {
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  margin: 30px 20px 0 0;
  width: 265px;
  height: 65px;
  letter-spacing: 3px;
}
.p-btn-dark-medium, .p-btn-light-medium{
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  margin: 15px 10px 0 0;
  width: '40%';
  height: 45px;
  letter-spacing: 3px;
}
.p-btn-dark-small, .p-btn-light-small {
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  width: '40%';
  height: 45px;
  letter-spacing: 3px;
}
.p-btn-dark, .p-btn-dark-small, .p-btn-dark-mediun  {
  background-color: rgb(88, 90, 86);
  color: white;
}
.p-btn2-light, .p-btn2-light {
  background-color: white;
  color: rgba(62, 62, 60);;
}
.p-btn-clear {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 30px 0 0 0;
  width: 265px;
  height: 65px;
  float: right;
}
/* GENERAL END */

/* LANDING */
.landing-splash {
  margin: auto;
  background-color: rgb(229, 217, 207);
  padding: 10%;
  text-align: center;
}
.splash-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}
.p-landing-splash {
  margin: auto;
  background-color: rgb(88, 90, 86);
  padding: 10%;
  text-align: center;
  color: white;
}
.p-splash-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: white;
}
.p-splash-text {
  line-height: 2;
}
.landing-content {
  background-color: rgb(207,219,210);
}
.landing-content img {
  padding: 0;
  width: 100%;
  height: 100%;
}
.landing-content-info {
  margin: auto;
  text-align: center;
  padding: 30% 0 30% 0;
}
/* LANDING END */

/* DASHBOARD */
.dashboard-main {
  background-color: #585A56;
  width: auto;
  margin: 50px;
  color: white;
  padding: 25px;
}
.dashboard-main-info{
  display: flex;
  justify-content: center;
  padding: 25px;
}
.dashboard-title {
  letter-spacing: 4px;
  font-size: 30px;
  text-transform: uppercase;
}
.dashboard-text {
  color: rgb(209, 211, 209);
}
.dashboard-main-info-l {
  max-width: 500px;
  line-height: 2;
}
.cause-donation {
  background-color: rgba(62, 62, 60);
  padding: 25px;
  width: 400px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cause-donation span {
  float: right;
}
.lux-fee {
  color: gold;
}
.p-tot-amt {
  color: white;
}
.d-tot-amt {
  color: white;
  font-weight: bold;
}
/* DASHBOARD END */

/* PROJECT CARD */
.p-card1, .p-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 20px;
}
.p-card1 {
  background-color: rgb(207,219,210);
  padding: 20;
  max-height: 550px;
}
.p-card2 {
  background-color: rgb(229,217,207);
  padding: 20;
  max-height: 550px;
}
.card-content {
  background-color: white;
  padding: 15px;
  margin-top: 30px;
}
.card-title, .card-sub-title1, .card-sub-title2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.card-sub-title3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
}
.card-subsection {
  margin: 0 0 5px 0;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.card-subsection-title {
  font-size: 28px;
  color: '#575853';
  padding-top: 15px;
  padding-right: 15px;
}
.card-subsection-text {
  font-size: 14px;
  color: '#828981';
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  line-height: 1.7;
}
.card-title {
  font-weight: 400;
  font-size: 27px;
  color: #585A56;
  letter-spacing: 3px;
  margin: 5px 0 5px 0;
}
.card-sub-title1 {
  color: green;
  margin: 0;
}
.card-sub-title2 {
  color: red;
  margin: 0;
}
.card-text {
  line-height: 1.7;
  font-size: 15px;
  padding-bottom: 40px;
  margin: 0;
  color: #585A56;
}
.pledge {
  margin: 25px 0 0 0;
  font-size: 25px;
  font-weight: bold;
}
.pledge-sub {
  font-size: 17px;
  color: rgb(209, 211, 209);
  margin-top: 0;
}
.progress-bar {
  background-color: rgb(209, 211, 209);
  margin-right: -50px;
  width: 102.5%
}
.progress-bar-small {
  background-color: rgb(209, 211, 209);
  margin-right: -50px;
  width: 95%
}
.project-progress-bar {
  background-color: rgb(209, 211, 209);
}
.progress-bar-meter {
  background-color: #00A70B;
  height: 3px;
}
/* PROJECT CARD END */

/* PROJECT LIST */
.project-card1, .project-card2 {
  margin: 50px 0 50px 0;
  padding-right: 50px;
}
.project-card1 {
  height: 680px;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right top;
}
.project-card2 {
  height: 680px;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left top;
}

.project-card-content {
  background-color: white;
  padding: 0 50px 0 50px;;
}
.project-card-title, .project-card-sub-title1, .project-card-sub-title2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.project-card-title {
  font-weight: 400;
  font-size: 30px;
  color: #585A56;
  letter-spacing: 3px;
  margin: 5px 0 5px 0;
}
.project-card-sub-title1 {
  color: green;
  margin: 0;
}
.project-card-sub-title2 {
  color: red;
  margin: 0;
}
/* PROJECT LISt CARD END */

/* SIMPLE PROJECT CARD STYLING START */
.boxed-image {
  object-fit: cover;
}
/* PROJECT CARD IMAGE STYLING END */

/* INPUT BOX */
form.inputbox {
  height: 50px;
  margin: 20px 0 20px 0;
  position: relative;
}
input[type="text"] {
    width: 200px;
    height: 50px;
    padding: 0 50px 0 10px;
    border-color: rgb(88, 90, 86);
    border-width: thin;
}
form.inputbox button {
    position: absolute;
    margin-left: -50px;
    height: 51px;
    width: 50px;
    background: black;
    color: white;
    border: 0;
    font-size: 35px;
}
/* INPUT BOX END */
