/* GENERAL  */
.p-btn-dark, .p-btn-light {
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  margin: 30px 20px 0 0;
  width: 265px;
  height: 65px;
  letter-spacing: 3px;
}
.p-btn-dark {
  background-color: rgba(62, 62, 60);
  color: white;
}
.p-btn2-light {
  background-color: white;
  color: rgba(62, 62, 60);;
}
.p-btn-clear {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 30px 0 0 0;
  width: 265px;
  height: 65px;
  float: right;
}
/* GENERAL END */

/* LANDING */
.landing-splash {
  margin: auto;
  background-color: rgb(229, 217, 207);
  padding: 10%;
  text-align: center;
}
.splash-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.landing-content {
  background-color: rgb(207,219,210);
}
.landing-content img {
  padding: 0;
  width: 100%;
  height: 100%;
}
.landing-content-info {
  margin: auto;
  text-align: center;
  padding: 30% 0 30% 0;
}
/* LANDING END */

/* DASHBOARD */
.dashboard-main {
  background-color: #585A56;
  width: auto;
  margin: 50px;
  color: white;
  padding: 25px;
}
.dashboard-main-info{
  display: flex;
  justify-content: center;
  padding: 25px;
}
.dashboard-title {
  letter-spacing: 4px;
  font-size: 30px;
  text-transform: uppercase;
}
.dashboard-text {
  color: rgb(209, 211, 209);
}
.dashboard-main-info-l {
  max-width: 500px;
  line-height: 2;
}
.cause-donation {
  background-color: rgba(62, 62, 60);
  padding: 25px;
  width: 400px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cause-donation span {
  float: right;
}
.lux-fee {
  color: gold;
}
.p-tot-amt {
  color: white;
}
.d-tot-amt {
  color: white;
  font-weight: bold;
}
/* DASHBOARD END */

/* PROJECT CARD */
.p-card1, .p-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px
}
.p-card1 {
  background-color: rgb(207,219,210);
  padding: 20;
}
.p-card2 {
  background-color: rgb(229,217,207);
  padding: 20;
}

.card-content {
  background-color: white;
  padding: 15px;
  margin-top: 30px;
}
.card-title, .card-sub-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.card-title {
  font-weight: 400;
  font-size: 30px;
  color: #585A56;
  letter-spacing: 3px;
  margin: 5px 0 5px 0;
}
.card-sub-title {
  color: green;
  margin: 0;
}
.card-text {
  line-height: 1.7;
  font-size: 15px;
  padding-bottom: 40px;
  margin: 0;
  color: #585A56;
}
.pledge {
  margin: 25px 0 0 0;
  font-size: 25px;
  font-weight: bold;
}
.pledge-sub {
  font-size: 17px;
  color: rgb(209, 211, 209);
  margin-top: 0;
}
.progress-bar {
  background-color: rgb(209, 211, 209);
  margin-right: -50px;
  width: 102.5%
}
.progress-bar-meter {
  background-color: green;
  height: 5px;
}
/* PROJECT CARD END */
